
.hide {
	display: none;
}

.game-area {
	border: 1px solid grey;
	height: 50vh;
	position: relative;
	overflow: hidden;
}

.ball {
	width: 100px;
	height: 100px;
	/*top: -100px;*/
	border-radius: 50%;
	background-color: hotpink;
	border: 2px solid blueviolet;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	cursor: pointer;
}
